<gr-background-loading style="z-index: -1;"
                       [imagesUrl]="['./assets/img/home_1.jpg','./assets/img/home_2.jpg','./assets/img/home_3.jpg']"></gr-background-loading>
<div class="container-fluid" style="z-index: 1; position:absolute; top: 0; left: 0; right: 0">
  <div class="row">
    <div class="col-md-3">
      <gr-list-select [listSelectElements]="[
      {id:'id',text:'Wrocław',elementsCount:2},
      {id:'id1',text:'Kraków',elementsCount:5},
      {id:'id2',text:'Warszawa',elementsCount:8}
      ]"></gr-list-select>
      <gr-list-select [listSelectElements]="[
      {id:'id',text:'Wynajem',elementsCount:2},
      {id:'id1',text:'Sprzedaż',elementsCount:5}
      ]"></gr-list-select>
      <!--<gr-bordered-panel>-->
      <!--</gr-bordered-panel>-->
      <!--<gr-search-selector [availableElements]="['hahaha', 'hehehe', 'hohohoh','hahaha', 'hehehe', 'hohohoh']"></gr-search-selector>-->
      <!--<gr-search-selector [availableElements]="['hahaha', 'hehehe', 'hohohoh','hahaha', 'hehehe', 'hohohoh']"></gr-search-selector>-->
      <!--<gr-search-selector [availableElements]="['hahaha', 'hehehe', 'hohohoh','hahaha', 'hehehe', 'hohohoh']"></gr-search-selector>-->
      <!--<gr-search-selector [availableElements]="['hahaha', 'hehehe', 'hohohoh','hahaha', 'hehehe', 'hohohoh']"></gr-search-selector>-->
      <!--<gr-search-selector [availableElements]="['hahaha', 'hehehe', 'hohohoh','hahaha', 'hehehe', 'hohohoh']"></gr-search-selector>-->
      <!--<gr-search-selector [availableElements]="['hahaha', 'hehehe', 'hohohoh','hahaha', 'hehehe', 'hohohoh']"></gr-search-selector>-->
      <!--<gr-search-selector [availableElements]="['hahaha', 'hehehe', 'hohohoh','hahaha', 'hehehe', 'hohohoh']"></gr-search-selector>-->
      <!--<gr-search-selector [availableElements]="['hahaha', 'hehehe', 'hohohoh','hahaha', 'hehehe', 'hohohoh']"></gr-search-selector>-->
      <!--<gr-bordered-panel>-->
        <!--blbalbladjljld-->
      <!--</gr-bordered-panel>-->
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-3"></div>
  </div>
</div>
